body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: white;
  line-height: 1.6;
}

header {
  background: #111827;
  padding: 20px;
  text-align: center;
}

.hero {
  padding: 60px 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: orange;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.about, .contact {
  padding: 40px 20px;
  text-align: center;
}

footer {
  background: #111827;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
